<template>
  <div class="home">

    <nav-bar/>

    <div class="content">
        <b-container class="bv-example-row">
            <b-row>
                <b-col cols="8">
                    <b-button-group class="filterBar">
                        <b-button @click="changeMode('all')"><img height="30px" src="@/assets/filter-button/all-button.png"/><p>All</p></b-button>
                        <b-button @click="changeMode('hamburger')"><img height="30px" src="@/assets/filter-button/hamburger-button.png"/><p>Burger</p></b-button>
                        <b-button @click="changeMode('ice cream')"><img height="30px" src="@/assets/filter-button/ice-cream-button.png"/><p>Ice Cream</p></b-button>
                        <b-button @click="changeMode('pizza')"><img height="30px" src="@/assets/filter-button/pizza-slice-button.png"/><p>Pizza</p></b-button>
                    </b-button-group>

                    <b-card-group columns v-if="filterMode == 'all'">
                        <b-card v-for="goodsData in getGoodsDataList" 
                                :key="goodsData.id" 
                                :title=goodsData.name 
                                :img-src=goodsData.image
                                img-weight="200px"
                                img-height="175px"
                                img-alt="Image"
                                img-top>
                            <b-card-text> {{goodsData.description}} </b-card-text>
                            <b-card-footer>
                                <b-button @click="orderItem(goodsData)" class="addItemButton" variant="success">+ ${{goodsData.price}}</b-button>
                            </b-card-footer>
                        </b-card>
                    </b-card-group>

                    <b-card-group columns v-else>
                        <b-card v-for="goodsData in filterList" 
                                :key="goodsData.id" 
                                :title=goodsData.name 
                                :img-src=goodsData.image
                                img-weight="200px"
                                img-height="175px"
                                img-alt="Image"
                                img-top>
                            <b-card-text> {{goodsData.description}} </b-card-text>
                            <b-card-footer>
                                <b-button @click="orderItem(goodsData)" class="addItemButton" variant="success">+ ${{goodsData.price}}</b-button>
                            </b-card-footer>
                        </b-card>
                    </b-card-group>

                </b-col>
                <b-col cols="4">
                    <order-list/>
                </b-col>
            </b-row>
        </b-container>
    </div>

    
    
  </div>
</template>

<style lang="css" scoped>
    .content {
        margin-top : 60px;
    }
    .card-text {
        height: 40px;
    }
    .card-footer {
        background: white;
        text-align: center;
    }
    .addItemButton {
        width: 150px;
    }
    .filterBar {
        width: 100%;
        margin-bottom: 30px;
    }
    
</style>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import NavBar from '@/components/NavBar.vue'
import OrderList from '@/components/OrderList.vue'
import axios from 'axios'

export default {
  name: 'home',
  data() {
    return {
        filterMode: 'all',
        filterList: []
    }
  },
  computed: {
      getGoodsDataList() {
          return this.$store.state.goodsData
      },
  },
  methods: {
    async loadData() {
        try{
            const response = await axios.get('http://localhost:3000/menu')
            this.$store.state.goodsData = response.data
            this.loaded = true
        }
        catch (e) {
            this.errors.push(e)
        }
    },
    changeMode( filter ) {
        this.filterMode = filter
        this.filterList = []
        for( let index = 0 ; index < this.getGoodsDataList.length ; ++index ) {
            if( this.getGoodsDataList[index].category == this.filterMode ) {
                this.filterList.push( this.getGoodsDataList[index] )
            }
        }
    },
    orderItem( goodsData ){
        const goodsOrder = {
            id: goodsData.id,
            name: goodsData.name,
            price: goodsData.price
        }
        this.$store.dispatch('addOrderList', goodsOrder)
    }

  },
  created() {
    this.loadData()
  },
  components: {
    HelloWorld,
    NavBar,
    OrderList
  },
  
}
</script>
