<template lang="pug">
  <div>
    nav.navbar.navbar-light.bg-light
      a.navbar-brand(href='localhost:8080') Food Delivery
  </div>
  
</template>
<style lang="scss" scoped>
.navbar {
  top:0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
</style>

<script>
export default {
    name: 'Navbar',
    
}
</script>
