<template>
    <b-card bg-variant="light" header="My Order" class="text-center">
        <b-card 
            v-for="order in getOrderList"
            :key="order.id"
            class="mb-3">
            <b-card-text>
                <b-container class="bv-example-row">
                    <b-row>
                        <b-col cols="9">{{order.name}}</b-col>
                        <b-col cols="3" >${{order.price}}</b-col>
                    </b-row>
                    <b-row v-if="order.id != 'fee'">
                        <b-col cols="2"></b-col>
                        <b-col cols="2"><b-button @click="cancelItem(order.id)" size="sm" class="reduceItemButton" variant="primary">-</b-button></b-col>
                        <b-col cols="4">{{order.amount}}</b-col>
                        <b-col cols="2"><b-button @click="orderItem(order)" size="sm" class="increaseItemButton" variant="primary">+</b-button></b-col>
                        <b-col cols="2"></b-col>
                    </b-row>
                </b-container>
            </b-card-text>
            
        </b-card>
        <b-card-footer>
            Total : ${{getTotalPrice}}
        </b-card-footer>
        <b-button v-b-modal.username class="checkoutButton" variant="warning">Checkout</b-button>

        <b-modal @ok="checkOut()" id="username" title="Login">
            <p>Username : <input v-model="username" type="text"></p>
        </b-modal>
    </b-card>
</template>

<style lang="css" scoped>
    div.card-body {
        padding: 5px;
    }
    div.col-3,div.col-9 {
        padding: 5px;
    }
    div.col-4{
        padding: 5px;
    }
    .reduceItemButton,.increaseItemButton {
        border-radius: 50%;
    }
    .checkoutButton{
        width: 100%;
    }
</style>

<script>
// @ is an alias to /src
import moment from 'moment'
import axios from 'axios'

export default {
  name: 'orderList',
  data() {
      return {
          username: ''
      }
  },
  computed: {
        getOrderList(){
            return this.$store.state.order
        },
        getTotalPrice(){
            let totalPrice = 0
            const orderList = this.getOrderList
            orderList.forEach( item => {
                totalPrice += item.price
            } )
            return totalPrice
        },
  },
  methods: {
    orderItem( goodsData ) {
        const goodsOrder = {
            id: goodsData.id,
            name: goodsData.name,
            price: goodsData.price/goodsData.amount
        }
        this.$store.dispatch('addOrderList', goodsOrder)
    },
    cancelItem( goodsId ) {
        this.$store.dispatch('removeOrderList', goodsId)
    },
    async checkOut() {
        const thisDate = moment().format();
        let allOrder = []
        this.$store.state.order.forEach( item =>{
            if(item.id != 'fee'){
                const thisOrder = {
                id: item.id,
                amount: item.amount
                }
                allOrder.push( thisOrder )
            }
            
        } )
        const params = {
            name : this.username,
            createAt : thisDate,
            totalPrice : this.getTotalPrice,
            item : allOrder
        }
        console.log( params )
        const response = await axios.post('http://localhost:3000/order', { body: params })
        if( response.data == 'success' ){
            alert('Checkout is successful')
        }
        else{
            alert('Checkout is failed')
        }

    }
  },
  
}
</script>