<template lang="pug">
  #app
    //- nav-bar
    //- .container
    router-view
</template>
<script>
import NavBar from '@/components/NavBar'
export default {
  components: {
    // NavBar
  }
}
</script>
<style lang="scss">
.container {
  padding: 10px 0 0 0;
}
</style>
